
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*  menu */

.menu-prin {
    display: flex;
    background-color: steelblue;
    width: 80%;
    margin: 0 auto;
    list-style: none;

}

.menu-item {
    flex: auto;
    position: relative;
}

.menu-item:hover  {
    background-color: rgba(19, 16, 16, 0.2);
    
}

.menu-item > .menu-ul {
    position: absolute;
    background-color: steelblue;
    display: none;
    width: 100%;
}

.menu-item > .menu-ul .menu-link {
    text-align: left;
    padding: 0.5em .5em;
}

.menu-item:hover > .menu-ul {
    display: block;
}

.menu-ul {
    list-style: none;
}

.menu-link {
    color: white;
    text-decoration: none;
    padding: 0.5rem 0;
    display: block;
    white-space: nowrap;
    text-align: center;
    
}

.menu-item .menu-ul .menu-ul {
    left: 100%;
    top: 0;
}